<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<body>
<header th:fragment="header">
<nav>
    <ul>
        <li><a th:href="@{/ideal-building-conditions}">Step 1: Ideal Building Conditions</a></li>
        <li><a th:href="@{/best-building-sites}">Step 2: Best Building Sites</a></li>
        <li><a th:href="@{/building-techniques}">Step 3: Building Techniques</a></li>
        <li><a th:href="@{/home}">Home Page</a></li>
    </ul>
</nav>
    <h1>Snowfort Building 101</h1>
</header>
</body>
</html>